@font-face {
	font-family: "Poppins";
	/* font-style: italic;
	font-weight: 400; */
	src: url("./poppings/poppins-v12-latin-regular.eot");
	src: local("Poppings Regular"), local("Poppings-Regular"),
		url("./poppings/poppins-v12-latin-regular.eot?#iefix")
			format("embedded-opentype"),
		url("./poppings/poppins-v12-latin-regular.woff2") format("woff2"),
		url("./poppings/poppins-v12-latin-regular.woff") format("woff"),
		url("./poppings/poppins-v12-latin-regular.ttf") format("truetype"),
		url("./poppings/poppins-v12-latin-regular.svg#Poppings") format("svg");
}

.App {
	text-align: center;
	height: fit-content;
}
.bigContainer {
	display: flex;
	flex-direction: column;
	height: fit-content;
}
.socialIcon {
	color: #000;
}
.link {
	font-size: 17px;
	text-decoration: none;
	color: #fff;
	font-family: Poppins;
	background-color: #1464f4;
	border: none;
	outline: none;
}
.link:hover {
	/* color: #0008ff; */
	transform: scale(1.12);
}
/* .link:focus {
	color: #60935d;
} */
/* .link:focus {
	background-color: aqua;
} */
.header {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
	justify-content: flex-end;
	background-color: #1464f4;

	border: none;
	z-index: 2;
	opacity: 95%;
	-moz-opacity: 95%;
	filter: alpha(opacity = 50);
	zoom: 1;
}
.icon {
	z-index: 2;
	color: #fff;
}

.linkDiv {
	display: flex;
	justify-content: space-around;

	border: none;
	align-items: center;
	width: 50%;
}

.skills {
	color: #fff;
	font-family: Poppins;
	font-weight: 500;
	background-color: #6d9bf1;
	border-radius: 60px;
	margin: 5px;
	text-align: center;
}
.aboutStyles {
	border-color: #1464f4;
	border-width: 6px;

	font-family: Poppins;
	text-align: left;
	font-weight: 600;
	width: 100%;
}
.aboutP {
	font-size: 15px;
	font-family: Poppins;
	padding: 0;
	margin: 0;
	font-weight: 3h00;
	color: #000;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.skillContainer {
	padding: 10px;
}
/*form css*/
.form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.formItem {
	display: flex;
	flex-direction: column;
	padding-top: 25px;
	padding-bottom: 10px;
	justify-content: space-between;
	align-items: center;
	width: 92%;
	align-self: center;
}
.formInput {
	width: 100%;
	padding: 10px;
}
.label {
	align-self: flex-start;
	color: #4f4f4f;
	font-size: 17px;
	font-family: Poppins;
	margin-bottom: 7px;
	margin-left: -10px;
}
.btnSubmit {
	background-color: #fff;
	border-style: solid;
	border-color: #3b6aa0;
	color: #1464f4;
	width: 120px;
	height: 30px;
	text-align: center;
	border-width: 1.5px;
	/* border-radius: 20px; */
	align-self: start;

	font-family: Poppins;
	font-size: 14px;
	font-weight: 700;
	padding: auto;
	margin-left: -10px;
}
.formInput.details {
	border-style: solid;
	border-color: #3b6aa0;
	border-width: 1.5px;
	height: 15px;
	outline: none;
	background-color: #bcd2ee;
	color: #000;
	font-size: 16px;
	font-family: Poppins;
}
.formInput.message {
	border: none;
	height: 100px;
	font-size: 16px;
	box-shadow: 1px 1px 7px 0.5px #dcdcdc, -1px -1px 7px 0.5px #dcdcdc;
	resize: none;
	outline: none;
	font-family: Poppins;
}
.profileStyles {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-style: solid;
	border-radius: 10px;
	border-color: #7093db;
	align-self: center;
	margin-bottom: 25px;
	border-width: 2px;
}
.conStyle {
	font-family: Poppins;
	color: #1f1f1f;
	outline: none;
}
.socialIcon.b {
	color: #3b6aa0;
}
.name {
	font-family: Poppins;
	font-size: 18px;
	color: #fff;

	font-weight: 600;
	font-style: italic;
}
@media (min-width: 891px) {
	.container {
		height: auto;
		background-color: #f7f7f7;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding-top: 120px;
		padding-bottom: 100px;
		padding-left: 180px;

		/* align-content: space-around; */

		/* background-image: linear-gradient(326deg, #a4508b 20%, #5f0a87 74%); */
	}
	.name {
		font-size: 22px;
	}
	.profile {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: fixed;
		align-self: flex-start;
		width: auto;

		left: 50px;
	}
	.contentDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profileStyles {
		font-size: 17px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-weight: 50;
		color: #000;
		line-height: 10px;
		text-align: center;
	}
	.aboutStyles {
		/* color: #0080ff; */
		font-size: 35px;
		text-align: left;
	}
	.aboutP {
		align-items: flex-start;
		font-size: 17px;
	}
	.skillContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 30px;
		align-items: center;
	}
	.skills {
		padding: 7px;

		font-size: 15px;

		/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif; */
		border: none;
	}
	.personalInfo {
		font-size: 17px;
		font-weight: 540;
	}
	.intro {
		font-size: 18px;
		font-family: Poppins;
		font-weight: bold;
		color: #000;
	}
	.skillProgress {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #000;
	}
	.typing {
		font-size: 14px;
		font-family: Poppins;
		font-weight: bold;
		color: #000;
	}

	.divCon {
		box-shadow: 0px 5px 10px -8px #696969;
		border-radius: 10px;
		height: auto;
		align-self: center;
		padding: 30px 40px 30px 40px;
		width: 50%;
		background-color: #fff;
	}
}

.btnOpt {
	display: none;
}
.optCon {
	display: none;
}

@media (max-width: 890px) {
	.divCon {
		border-radius: 5px;
		height: auto;
		width: 75%;
		background-color: #fff;
		overflow: hidden;
		transition: transform 0.5s ease;
		padding: 30px 40px 30px 40px;
	}
	.divCon:hover {
		transform: scale(1.06);
		box-shadow: 0px -5px 10px -8px #a9a9a9, 0px 5px 10px -5px #a9a9a9;
	}
	.link {
		display: none;
	}
	.btnOpt {
		display: block;
	}

	.optCon {
		background-color: #fff;
		height: 60vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		align-self: flex-end;
		width: 60%;
		/* box-shadow: -5px 5px 20px -5px #696969; */
		padding-top: 5px;
		padding-bottom: -100px;
		margin: 0;

		position: fixed;
		opacity: 97%;
		right: 0px;
		top: 50px;
		z-index: 1;
		height: 100vh;
		transform: translateX(0);
		transition: transform 0.3s linear;
	}

	.optCon.close {
		transform: translateX(100%);
		transition: transform 0.3s linear;
	}

	.optLink {
		text-decoration: none;
		font-size: 15px;
		color: #000033;
		font-family: Poppins;
		font-weight: bold;
		background: none;
		border: none;
		outline: none;
		width: auto;
	}
	.optLink:hover {
		transform: scale(1.2);
	}

	.opt {
		width: 70%;
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 20px;
		align-items: flex-start;
	}
	.header {
		height: 40px;
		padding: 5px;
	}
	.container {
		padding-top: 60px;
		padding-bottom: 100px;

		height: auto;
		background-color: #f1f1f1;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-top: 80px;
		padding-bottom: 100px;
	}
	.contentDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
	.profile {
		display: flex;

		flex-direction: column;
		align-items: center;
		padding-top: 0px;
		padding-bottom: 10px;
	}
	.profileStyles {
		font-size: 17px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-weight: 300;
		color: #000;
		line-height: 5px;
	}
	.aboutStyles {
		/* color: #269ccc; */
		font-size: 30px;
	}

	.skillContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		padding-bottom: 30px;

		margin: auto;
	}
	.skills {
		/* color: #000; */
		padding: 5px;
		/* background-color: #e3b1ec; */

		font-size: 13px;
	}
	.personalInfo {
		font-size: 15px;
		font-weight: 400;
	}
	.intro {
		font-size: 20px;
		font-family: Poppins;
		font-weight: bold;
		color: #000;
	}
	.skillProgress {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #000;
	}
	.typing {
		font-size: 16px;
		font-family: Poppins;
		font-weight: 100;
		color: #000;
	}
	.icon {
		color: #1464f4;
	}
}
