.App {
	text-align: center;
	height: fit-content;
}
.bigContainer {
	display: flex;
	flex-direction: column;
	height: fit-content;
}
.socialIcon {
	color: #000;
}
.link {
	font-size: 17px;
	text-decoration: none;
	color: #1f2041;
	font-family: serif;
	background-color: #fff;
	border: none;
	outline: none;
}
.link:hover {
	/* color: #0008ff; */
	transform: scale(1.12);
}
/* .link:focus {
	color: #60935d;
} */
/* .link:focus {
	background-color: aqua;
} */
.header {
	display: flex;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	height: 60px;
	justify-content: flex-end;
	background-color: #fff;
	box-shadow: 0px 6px 4px -6px #696969;
	border: none;
	z-index: 2;
	opacity: 90%;
	-moz-opacity: 90%;
	filter: alpha(opacity = 50);
	zoom: 1;
}
.icon {
	z-index: 2;
	color: #1f2041;
}

.linkDiv {
	display: flex;
	justify-content: space-around;

	border: none;
	align-items: center;
	width: 50%;
}

.skills {
	color: #1f1f1f;
	font-family: monaco;
	background-color: #f2f2f2;
	border-radius: 30px;
}
.aboutStyles {
	color: #4b3f72;
	font-family: "Bradley Hand", cursive;
	-moz-font-family: "Bradley Hand", cursive;
	text-align: center;
	font-weight: 700;
}
.aboutP {
	font-size: 15px;
	font-family: candara, palatino, optima, verderna;
	padding: 0;
	margin: 0;
	font-weight: 300;
	color: #1f1f1f;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.skillContainer {
	padding: 10px;
}

@media (min-width: 891px) {
	.container {
		height: auto;
		background-color: #f7f7f7;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
		padding-top: 120px;
		padding-bottom: 100px;
		padding-left: 180px;

		/* align-content: space-around; */

		/* background-image: linear-gradient(326deg, #a4508b 20%, #5f0a87 74%); */
	}
	.profile {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		position: absolute;
		align-self: flex-start;
		width: auto;

		left: 50px;
	}
	.contentDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.profileStyles {
		font-size: 17px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-weight: 50;
		color: #000;
		line-height: 10px;
		text-align: center;
	}
	.aboutStyles {
		/* color: #0080ff; */
		font-size: 35px;
		text-align: left;
	}
	.aboutP {
		align-items: flex-start;
		font-size: 17px;
	}
	.skillContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 30px;
		align-items: center;
	}
	.skills {
		padding: 10px;

		font-size: 18px;
		margin-top: 20px;
		/* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif; */
		border: none;
	}
	.personalInfo {
		font-size: 17px;
		font-weight: 540;
	}
	.intro {
		font-size: 18px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-weight: bold;
		color: #000;
	}
	.skillProgress {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #000;
	}
	.typing {
		font-size: 14.5px;
		font-family: cursive;
		font-weight: bold;
		color: #000;
	}

	.divCon {
		box-shadow: 5px 5px 20px -5px #696969;
		border-radius: 10px;
		height: auto;
		align-self: center;
		padding: 30px 40px 30px 40px;
		width: 50%;
		background-color: #fff;
	}
}

.btnOpt {
	display: none;
}
.optCon {
	display: none;
}

@media (max-width: 890px) {
	.divCon {
		border-radius: 5px;
		height: auto;
		width: 75%;
		background-color: #fff;
		overflow: hidden;
		transition: transform 0.5s ease;
		padding: 30px 40px 30px 40px;
	}
	.divCon:hover {
		transform: scale(1.06);
		box-shadow: 0px -5px 10px -8px #a9a9a9, 0px 5px 10px -5px #a9a9a9;
	}
	.link {
		display: none;
	}
	.btnOpt {
		display: block;
	}

	.optCon {
		background-color: #fff;
		height: 60vh;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		align-self: flex-end;
		width: 60%;
		/* box-shadow: -5px 5px 20px -5px #696969; */
		padding-top: 5px;
		padding-bottom: -100px;
		margin: 0;

		position: fixed;
		opacity: 97%;
		right: 0px;
		top: 50px;
		z-index: 1;
		height: 100vh;
		transform: translateX(0);
		transition: transform 0.3s linear;
	}

	.optCon.close {
		transform: translateX(100%);
		transition: transform 0.3s linear;
	}

	.optLink {
		text-decoration: none;
		font-size: 15px;
		color: #1f2041;
		font-family: Georgia, "Times New Roman", Times, sans-serif;
		font-weight: bold;
		background: none;
		border: none;
		outline: none;
		width: auto;
	}
	.optLink:hover {
		border-bottom-style: solid;
		border-top-style: solid;
		border-width: 0.2px;
		border-color: 1f2041;
		transform: scale(1.2);
	}

	.opt {
		width: 70%;
		height: 40%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: 20px;
		align-items: flex-start;
	}
	.header {
		height: 40px;
		padding: 5px;
	}
	.container {
		padding-top: 60px;
		padding-bottom: 100px;

		height: auto;
		background-color: #f7f7f7;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding-top: 80px;
		padding-bottom: 100px;
	}
	.contentDiv {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10px;
	}
	.profile {
		display: flex;

		flex-direction: column;
		align-items: center;
		padding-top: 0px;
		padding-bottom: 10px;
	}
	.profileStyles {
		font-size: 14px;
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-weight: 300;
		color: #000;
		line-height: 20px;
	}
	.aboutStyles {
		/* color: #269ccc; */
		font-size: 30px;
	}

	.skillContainer {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		padding-bottom: 30px;
		align-items: center;
		margin: auto;
	}
	.skills {
		/* color: #000; */
		padding: 7px;
		/* background-color: #e3b1ec; */
		border-radius: 30px;

		font-size: 13px;
		margin-top: 20px;
	}
	.personalInfo {
		font-size: 15px;
		font-weight: 400;
	}
	.intro {
		font-size: 20px;
		font-family: Georgia, "Times New Roman", Times, serif;
		font-weight: bold;
		color: #000;
	}
	.skillProgress {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
			sans-serif;
		font-size: 14px;
		font-weight: 300;
		color: #000;
	}
	.typing {
		font-size: 19px;
		font-family: cursive;
		font-weight: 200;
		color: #000;
	}
}
